$_header-topHeight: 39px;
$_header-md-innerHeight: 50px;

/* st-header */
.st-header {
  background: #000;
  padding-top: rem($_header-topHeight);
  border-bottom: 1px solid #ccc;
  @include max-screen($BREAK_POINT_MD) {
    padding-top: 10px;
  }
}

// st-header__content
.st-header__content {
  background: #fff;
}

// st-header__inner 
.st-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: $PAGE_MAX_WIDTH;
  margin: 0 auto;
  padding: 0 15px;
  @include max-screen($BREAK_POINT_MD) {
    height: rem($_header-md-innerHeight);
  }
}

// st-header__infoNav
.st-header__infoNav {
  display: flex;
  align-items: center;
  position: absolute;
  top: -(rem($_header-topHeight));
  right: 15px;
  height: rem($_header-topHeight);
  margin: 0;
  padding: 0;
  list-style: none;
  > li {
    padding-left: 30px;
  }
  @include max-screen($BREAK_POINT_MD) {
    display: block;
    position: static;
    right: auto;
    height: auto;
    > li {
      padding-left: 0;
    }
  }
}

// st-header__logo
.st-header__logo {
  margin: 0;
  &__img {
    display: block;
    width: 110px;
    height: 58px;
    @include max-screen($BREAK_POINT_MD) {
      width: 55px;
      height: auto;
    }
  }
}

// st-header__navBtn
.st-header__navBtn {
  display: none;
  @include max-screen($BREAK_POINT_MD) {
    align-self: streach;
    display: block;
    cursor: pointer;
    border-radius: 0;
    appearance: none;
    border: none;
    padding: 0;
    background: none;
  }
}

.st-header__navBtn__icon {
  @include max-screen($BREAK_POINT_MD) {
    $width: 17px;
    $height: 2px;
    $bgColor: #000;

    position: relative;
    display: block;
    width: $width;
    height: $height;
    background-color: $bgColor;
    transition: background-color 0.1s linear;
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: $width;
      height: $height;
      background-color: $bgColor;
      transition: transform 0.2s linear; 
    }
    &::before {
      top: -5px;
    }
    &::after {
      top: 5px;
    }
    &.is-nav-open {
      background-color: transparent;
      &::before {
        top: 50%;
        transform: rotate(-135deg);
      }
      &::after {
        top: 50%;
        transform: rotate(-45deg);
      }
    }
  }
}

// st-header__nav 
.st-header__nav {
  @include max-screen($BREAK_POINT_MD) { 
    position: absolute;
    top: rem($_header-md-innerHeight + 1);
    left: 0;
    width: 100%;
  }
}